<div class="container">

	<h1>When would you like us to come around?</h1>

	<div>

		<div class="form-group" id="schedule-form">
			<%= form_for @schedule, :method => "post", :url => {:controller => "schedules", :action => "create"} do |f| %>

				<div>
				<%= f.label :Date %>
				<%= f.text_field :date, :data => {:provide => "datepicker"} %>

				<%= f.label "I'm available from:" %>
				<%= f.text_field :start_time, class: "time start" %> to
				<%= f.text_field :end_time, class: "time end" %>

				</div>

				<div>
					<h3>How much do you have for us?</h3>	
					<div class="row">
						<label class="col-md-4">
						  <input type="radio" name="schedule[amount]" value="1" />
							  <div class="select ">
							  	<p>A box full</p>
							  </div>
						</label>
						
						<label class="col-md-4">
						  <input type="radio" name="schedule[amount]" value="2" />
							  <div class="select">
							  	<p>A bin full</p>
							  </div>
						</label>

						<label class="col-md-4">
						  <input type="radio" name="schedule[amount]" value="3" />
							  <div class="select">
							  	<p>A truck load</p>
							  </div>
						</label>
					</div>
				</div>

				<div>
				<%= f.submit "Book Now"%>
				</div>
			<% end %>
		</div>
	</div>


	<div>

		<h1>Here are your existing scheduled pickups.</h1>

		<div class="table-responsive">
  		<table class="table table-hover">
				<thead>
			    <tr>
			      <th>Date</th>
			      <th>Time</th>
			      <th>Collector Name</th>
			      <th>Confirmation Key</th>
			      <th>Modify/Cancel</th>
			    </tr>
			  </thead>
				  <tbody>
				  <% if @existing_schedules == [] %>
					  <p>You have never scheduled any pickups!</p>
				  <% else %>
				  	<% @existing_schedules.each do |s| %>
					    <tr>
					      <td>
					     	  <%= s.date %>
					      </td>

					      <td>
					      	<%= s.start_time.in_time_zone("Kuala Lumpur").strftime('%I:%M %p') %> to <%= s.end_time.in_time_zone("Kuala Lumpur").strftime('%I:%M %p')%>
					      </td>

					      <% if s.collector_id == nil %>
					      	<td>We're assigning a collector right away!</td>
					      <% else %>
					      	<td><%= s.collector.full_name %></td>
					      <% end %>

					      <td>
					     	  <%= s.confirmation_key %>
					      </td>
					      <td> <a href="/schedules/<%= s.id %>/edit"> Modify </a> / <%= link_to "Cancel", s, method: :delete %> </td>
					    </tr>
					  <% end %>
					<% end %>
			  </tbody>
  		</table>
		</div>
	</div>
</div>
