 <div class="form-group">
    <%= form_for @schedule, :method => 'post', url: {:controller => 'schedules', :action => 'create'} do |f| %>
        <p>Prefered time range:</p>
        <%= f.label :From %>
        <%= f.datetime_select :start_date %>
        <br>
        <%= f.label :To %>
        <%= f.datetime_select :end_date %>
        <br>
        <%= f.label :amount %>
        <%= f.collection_select :amount, Schedule::Amount, :to_s, :to_s %>

        <%= f.hidden_field :user_id, :value => current_user.id  %>

        <%= f.hidden_field :confirmation_key, :value => @confirmation_key %>

        <%= f.submit "Submit" %>
        <% end %>
    </div>


</div>