<div class="container">
  <%= form_for(user_resource, as: user_resource_name, url: user_registration_path) do |f| %>
    <%= devise_error_messages! %>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, value: params[:user][:email] %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off", value: params[:user][:password] %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", value: params[:user][:password_confirmation] %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "form-control btn btn-info homepage-modal-btn" %>
    </div>
  <% end %>
  <br/>
  <%- if user_devise_mapping.omniauthable? %>
    <%- user_resource_class.omniauth_providers.each do |provider| %>
      <% if provider == :facebook %>

        <%= link_to omniauth_authorize_path(user_resource_name, provider), class: "btn-block btn-social btn-lg btn-facebook" do %>
          <i class="fa fa-facebook"></i>
          <span>Sign In with Facebook</span>
        <% end %>
        <br />
      <% else %>
        <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(user_resource_name, provider) %>
        <br/>
      <% end %>
    <% end -%>
  <% end -%>
</div>
